<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/assets/css/styles.css" />
<link rel="stylesheet" href="/assets/css/responsive.css" />
<link rel="icon" type="image/png" href="/assets/favicon.png" />
<link rel="stylesheet" href="/assets/css/all.min.css" />
<title>Project Mumbai</title>
<meta name="description" content="Project Mumbai" />
<meta name="keywords" content="ibinary,nozoom,p2p,videocall" />
